<% include ../partials/header %>

<div class="ui container">
<div class="ui three column centered stackable grid" style="margin: 0 auto;">
    <div class="column">
        <div class="ui card" style="margin: 5 auto;">
            <div title="<%= user.username %>" class="content" style="font-size: 18px; font-weight: bolder;">
                <% if(currentUser.username != user.username) { %>
                    <% var flag = 0;
                    currentUser.following.forEach(function(user1){ 
                        if(user.username == user1.name) { 
                            flag = 1; 
                            return; 
                        } 
                    }) 
                    if(flag == 0) { %>
                        <form action="/<%= user._id %>" method="POST">
                            <button title="Follow" class="ui teal right floated icon button"> <i class="fas fa-user-plus"></i></button>    
                        </form>
                    <% } else { %>
                        <form action="/<%= user._id %>" method="POST">
                            <button title="Unfollow" class="ui teal right floated icon button"> <i class="fas fa-user-alt-slash"></i></button>    
                        </form>
                    <% } %>
                <% } %>
                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/large/elliot.jpg"> <%= user.username.substring(0, 15) %>
            </div>
            
            <div class="content">
                <a class="ui center aligned header">Following</a>
                <% if(user.following.length != 0) { %>  
                    <% user.following.forEach(function(user1) { %>
                        <a href="/<%= user1.id %>" style="color: crimson; text-decoration: none;"><p> <%= user1.name %> </p></a>
                    <% }) %>
                <% } else { %>
                    <p style="text-align: center;">No Followings !!!</p>
                <% } %> 
                <a class="ui center aligned header">Followers</a>
                <% if(user.followers.length != 0) { %>  
                    <% user.followers.forEach(function(user1) { %>
                        <a href="/<%= user1.id %>" style="color: crimson; text-decoration: none;"><p> <%= user1.name %> </p></a>
                    <% }) %>
                <% } else { %>
                    <p style="text-align: center;">No Followers !!!</p>
                <% } %> 
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card" style="margin: 5 auto;" id="favouritesContainer">
            <div class="content" style="font-size: 20px; font-weight: bolder;">
                <i class="bookmark outline icon"></i> Favourites
            </div>
            <% if(user.myMovies.length != 0) { %>
                <% user.myMovies.forEach(function(movie){ %>
                    <div class="content" id="/movies/<%= movie.id %>">
                        <% if(user.username === currentUser.username) { %>
                            <button onclick="deleteFav(0, '/movies/<%= movie.id %>', '<%= user._id %>')" class="ui right floated icon red circular button"><i class="trash alternate icon"></i></button>
                        <% } %>
                        <a href="/movies/<%= movie.id %>"><%= movie.name %></a>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="content">
                    <% if(currentUser.username == user.username) { %>
                        <button class="ui right floated circular icon button"><a href="/"><i class="large plus icon"></i></a></button>
                    <% } %>
                    <p>Nothing in Favourites.</p>
                </div>
            <% } %>
        </div>
    </div>
    <div class="column">
        <div class="ui card" style="margin: 5 auto;" id="recommendContainer">
            <div class="content" style="font-size: 20px; font-weight: bolder;">
                <i class="thumbs up icon"></i> Recommendations
            </div>
            
            <% if(user.recommendation.length != 0) { %>
                <% user.recommendation.forEach(function(movie) { %>
                    <div class="content" id="/movies/recommend/<%=movie.id %>">
                        <% if(currentUser.username == user.username) { %>
                            <button onclick="deleteFav(1, '/movies/recommend/<%=movie.id %>', '<%= user._id %>')" class="ui right floated icon red circular button"><i class="trash alternate icon"></i></button>
                        <% } %>
                        <a href="/movies/<%= movie.id %>"><%= movie.name %></a> from <%= movie.owner %> 
                    </div>
                <% }) %>
            <% } else { %>
                <div class="content">
                   <p>No recommendations</p>
                </div>
            <% } %> 
            </div>
        </div>
    </div>
  </div>
</div>

  <script>
      function deleteFav(mode, movieId, userId) {
          if(window.confirm('Do you want to delete this movie ?')) {
                axios.delete(movieId).then(resp=> {
                    console.log(resp.data);
                    if(resp.data.res == 1) {
                        var el2 = document.getElementById(movieId);
                        if(mode == 0) {
                            document.getElementById('favouritesContainer').removeChild(el2);   
                        } else {
                            document.getElementById('recommendContainer').removeChild(el2);
                        }
                    } else {
                        
                    }
                }).catch(err=> {
                        console.log(err);
                });
          }
      }
  </script>

<% include ../partials/footer %>