<% include ../partials/header %>

<div class="user-container">
    <h1>About</h1>
    
    <p><%= user.username %></p>
    <img src="https://images.unsplash.com/photo-1503248947681-3198a7abfcc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="pic" width="300px" height="300px" style="border-radius: 50%;">
    <% if(currentUser.username != user.username) { %>
        <% var flag = 0; %>
        <% currentUser.following.forEach(function(user1){ %>
        <%    if(user.username == user1.name) { %>
        <%        flag = 1; %>
        <%       return; %>
        <%    } %>
        <% }) %>
        <% if(flag == 0) { %>
            <form action="/<%= user._id %>" method="POST">
                <button class="dashboard-btn">Follow</button>    
            </form>
            
        <% } else { %>
            <form action="/<%= user._id %>" method="POST">
                <button class="dashboard-btn">Unfollow</button>    
            </form>
            
        <% } %>
    <% } %>
    
    <% if(user.following.length != 0) { %>  
        <h1>Following Lists</h1>
        <% user.following.forEach(function(user1) { %>
            <a href="/<%= user1.id %>"><p> <%= user1.name %> </p></a>
        <% }) %>
    <% } else { %>
        <br>
        <p>No Followings !!!</p>
        <br>
    <% } %> 
    
</div>
<div class="myMovies-container">
    <h1>Favourites</h1>
    <% if(user.myMovies.length != 0) { %>
        
        <% user.myMovies.forEach(function(movie){ %>
            <p> <%= movie.name %> </p>
            <form action="/movies/<%= movie.id %>" method="GET" style="display: inline;">
                <input style="display: none;" name="movieid" value="<%= movie.id %>">
                <button class="dashboard-btn">More Info</button>
            </form>
            <form action="/movies/<%=movie.id %>?_method=DELETE" method="POST" style="display: inline;">
                    <input style="display: none;" name="ownerid" value="<%= user._id %>">
                    <button class="dashboard-btn">DELETE</button>
                </form>    
        <% }) %>
        
    <% } else { %>
        <br>
        <p>NOTHING FOUND IN YOUR LIST</p>
        <br>
        <a href="/" class="dashboard-btn" style="text-decoration: none;">ADD SOMETHING</a>
    <% } %>
</div>

<div class="random-user-container">
    <h1>Check out these profiles</h1>
    <% for(var i = 0; i < 2 ; i++) { %>
        <button class="dashboard-btn"><a href="/<%= allUsers[i]._id%>"> <%= allUsers[i].username %> </a> </button>
    <% } %>
</div>

<% include ../partials/footer %>