<% include ../partials/header %>


<% if(data["Response"] == "True") { %>
        
    <div class="ui cards" style="margin: 10px 0px;">
        <% data["Search"].forEach(function(movie) { %>

            <div class="ui card" style="width: 320px;height: 430px;margin: 5px auto;">
                <div class="content">
                    <%= movie["Title"].substring(0, 37) %>
                </div>
                <div class="image" style="width: 320px;height: 250px;overflow: hidden;">
                    <img src = "<%= movie['Poster'] %>" alt = "Image Not Available" width="100%" height="100%" style="width: 100%;height: 100%;">
                </div>
                <div class="content" style="font-weight: bolder;">
                    <span class="right floated">
                        <form action="/movies/<%= movie['imdbID'] %>" method="GET" style="display: inline;">
                            <input style="display: none;" name="movieid" value="<%= movie['imdbID'] %>">
                            <button class="results-btn">More Info</button>
                        </form>
                    </span>
                    <i class="large film icon"></i>
                    <%= movie["Type"].toUpperCase() %><br>
                    <i class="large calendar icon"></i>
                    <%= movie["Year"] %>    
                </div>
                <div class="extra content">
                    
                    <% if(currentUser) { %>  
                        <form action="/movies" method="POST" style="display: inline;">
                            <input style="display: none;" name="movieid" value="<%= movie['imdbID']  %>">
                            <input style="display: none;" name="moviename" value="<%= movie['Title'] %>">
                            <button class="results-btn"><i class="bookmark outline icon"></i> Add to favourites</button>
                        </form>
                        <form action="/movies/recommend" method="GET" style="display: inline;">
                            <input style="display: none;" name="movieid" value="<%= movie['imdbID'] %>">
                            <input style="display: none;" name="moviename" value="<%= movie['Title'] %>">
                            <input style="display: none;" name="type" value="recommend">
                            
                            <button class="results-btn"><i class="thumbs up outline icon"></i> Recommend</button>
                        </form>
                    <% } else { %>
                        <div style="font-size: 18px;color: red;"><button class="ui icon red button"><a style="color: white;" href="/login">LOGIN</a></button> to use more features.</div>
                    <% } %>
                </div>
              </div>
        <% }) %>
    </div>
    <div style="position: fixed; bottom: 0;" class="ui red icon button"><i class="ui large search icon"></i> <a style="color: white;" href="/" > Search Again!</a></div>
        
<% } else { %>
    
    <div class="results-container">
        <h1><%= data["Error"] %></h1>
        <img src="https://images.unsplash.com/photo-1526297003708-f5a1c2c9c6e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="350px;" alt="sadness" style="border-radius: 70%;">
        <br>
        <br>
        <br>
        <a href="/" class="dashboard-btn" style="text-decoration: none;">Start Fresh</a>
    </div>
        
    
<% } %>
    




<% include ../partials/footer %>








